@use "@/pages/post/styles/post-form-shared";
@use "@/styles/common-tools" as *;
@use "@/styles/shadows" as sh;
@use "@/styles/variables" as v;
@use "@/styles/breakpoints" as bp;

.post-form-textarea {
  resize: none;
  min-height: 300px;

  @include bp.below(bp.$md) {
    min-height: 200px;
  }
}
