$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$wide: 1440px;

@mixin below($max) {
  @media (max-width: $max) {
    @content;
  }
}

@mixin above($min) {
  @media (min-width: $min) {
    @content;
  }
}
